<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="signup-container">
        <h2>아이디 찾기</h2>
        <form action="/member/findid/action" method="POST">
            <input type="text" id="name" name="name" placeholder="이름" autofocus required>
            <input type="text" id="birthDate" name="birthDate" placeholder="생년월일(8자리)" required>
            <button type="submit">아이디 찾기</button>
        </form>
    </div>
</body>
</html>